body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #e2e2e2
}
.frame_1{
    top: 50px;
    bottom: 0;
    left: 5px;
    right: 5px;
    position: absolute;
}
.row.header_pos{
padding: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    font-style: italic;
    font-weight: bold;
    background-color: #ce9696;
}
.nav-tabs>li>a {
    color: #a06060;	
    font-style: italic;
    font-weight: bold;
    background-color: #f0f0f0;
}
.product-cell {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    box-shadow: 0px 0px 5px #c0c0c0;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #c0c0c0;
}
.col-md-1.grid{
  padding: 2px;
}
.product-cell:hover {
   box-shadow: 0px 0px 5px #000;
}
.product-cell .product-image {
    overflow: hidden;
    position: relative
}

.product-cell .product-image a {
    display: block
}

.product-cell .product-image img {
    width: 100%;
    height: auto
}

.product-image .pic {
    opacity: 1;
    transition: all .5s
}

.product-cell:hover .product-image .pic {
    opacity: 0
}

.product-image .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s
}

.product-cell:hover .product-image .pic-2 {
    opacity: 1
}

.product-cell .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1
}

.product-cell .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s
}

.product-cell:hover .social li {
    transform: translateX(0)
}

.product-cell:hover .social li:nth-child(2) {
    transition-delay: .15s
}

.product-cell:hover .social li:nth-child(3) {
    transition-delay: .25s
}

.product-cell .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
}

.product-cell .social li a:hover {
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.product-cell .social li a:after,
.product-cell .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-cell .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-cell .social li a:hover:after,
.product-cell .social li a:hover:before {
    opacity: 1
}

.product-cell .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s
}

.product-cell .add-to-cart:hover {
    background-color: #3498db;
    text-decoration: none
}

.product-cell:hover .add-to-cart {
    bottom: 0
}

.product-cell .product-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s
}

.product-cell:hover .product-new-label {
    opacity: 0
}

.product-cell .product-content {
    padding: 1px 1px;
    text-align: center
}

.product-cell .title {
    font-size: 11px;
    margin: 0 0 7px;
    height: 42px;
    overflow: hidden;
	line-height: 22px;
	color:#201b67;
}

.product-cell .title a {
}

.product-cell .title a:hover {
    color: #3498db
}

.product-cell .price {
    font-weight: bold;
    font-family: Tahoma;
    font-size: 10px;
    color: #f30;
}
.product-cell .decriptions {
   height: 150px;
   overflow: hidden;
}
.btn-success{
  background-color: #f30;
}
.btn-primary{
  background-color: #33f;
}
@media screen and (max-width:990px) {
    .product-cell {
        margin-bottom: 30px
    }
}
.product-content .line.dot{
  border-bottom: 1px dotted #c0c0c0;
}
.frame_content{
    padding: 0;
}
.sku{
	font-size: 9px;
}
.row_item_cart .title{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, #d2d2d2, transparent);
    font-weight: bold;
    font-style: italic;
}

.row_item_cart .image{
    width: 130px;
    height: 130px;
}
.row_item_cart .quantity{

    
}
.row_item_cart .image img{
    width: 100%;
    height: 100%;
}
.quantity input{

}
.row_item_cart{
    border-bottom: 1px dashed #f0f0f0;
    padding-top:12px;
    padding-bottom:5px;
}

.row_item_cart .title{
     display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: 12px;
}
.row_item_cart .delete_item{
    position: relative;

}
.row_item_cart .delete_item span{
    position: absolute;
    color: red;
    padding: 10px;
    cursor: pointer;
    top: -5px;
    right: 34%;
}
.contents{
    position: relative;
}
.contents .content_cart{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    margin-top: 60px;
}
.right_pos{
    height: 100%;
    position: relative;
}
.contents .content_cart::-webkit-scrollbar {
  display: none;
}

.contents .content_cart {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.contents .content_cart {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.right_pos .tab-content.cart-tab{
    position: absolute;
    bottom: 0;
    top: 41px;
    left: 7px;
    right: 16px;
}
.right_pos .tab-content .panel-body,.right_pos .tab-content .panel-info,.right_pos .tab-content .contents, .right_pos .tab-content .client_tab_content, .right_pos .tab-content .panel-body {
    height: 100%
}
.tab-content .title_pn{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 2px;
    right: 2px;
    height: 59px;
    margin: 4px auto;
    padding: 7px 0;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
    z-index: 999;
}
.tab-content .content{
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid red
}
.row.info{
    margin-right: -15px;
    margin-left: -15px;
    margin: 0;
    height: 39px;
    padding-top: -5px;
    overflow: hidden;
}
.prices .new_prices{
    color:maroon;
}
.prices .old_prices{
    text-decoration: line-through;
    color:#c0c0c0;
}
.search_frame {
    width: 100%;
    position: relative;
}
.search_frame span {
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 1px;
    width: 40px;
    z-index: 90;
    background-color: #337ab7;
    display: table;
    text-align: center;
}
.search_frame i {
    position: absolute;
    top:50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%,-50%);
    color: #fff;
}

.input_groups{
    position: relative;
}
.append_left{
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 90;
    background-color: #337ab7;
}
.append_right{
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 90;
    background-color: #337ab7;
}
.append_right i,.append_left i{
    position: absolute;
    top:50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%,-50%);
    color: #fff;
}
.title_pn{
    position: relative;
}
.title_pn .exits_tab{
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}

.header-tab-group ul{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: -2px !important;
        -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}
.header-tab-group ul li {
    white-space: nowrap;
    display: inline-block;
    float: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}
.header-tab-group ul li.active {

}
.header-tab-group ul li a {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff !important;
    background-color: #337ab7 !important;
    margin-bottom: 0 !important;
    font-weight: unset;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}
.exit_tab{
    position: absolute;
    top: -9px;
    right: -4px;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 2px;
    text-align: center;
    color: #f30;
    font-size: 12px;
    display: none;
    cursor: pointer;
}
.tab_cart:hover .exit_tab{
    display: block;
}
.exit_tab:hover{
    background-color: #f30;
    color: #fff;
}
.bbrr3{
    border-bottom-right-radius:3px;
}
.btrr3{
    border-top-right-radius:3px;
}
.row.frame_1 .product_list_fr{
    height: 100%;
    border-color: #a9bbd2;
}
.row.frame_1 .product_list_fr .tab-content{
    bottom: 0px;
    top: 41px;
    left: 14px;
    right: 0;
    position: absolute;
}
.row.frame_1 .product_list_fr .tab-content .tab-pane{
    height: 100%
}
.row.frame_1 .product_list_fr .tab-content .tab-pane, .row.frame_1 .product_list_fr .tab-content .tab-pane .panel-info, .row.frame_1 .product_list_fr .tab-content .tab-pane .panel-info .frame_content, .row.frame_1 .product_list_fr .frame_content .content_list{
    height: 100%
}
.row.frame_1 .product_list_fr .frame_content .content_list{
    overflow-y: scroll;
    overflow-x: hidden;
}

.row.frame_1 .product_list_fr .frame_content .content_list::-webkit-scrollbar {
  display: none;
}

.row.frame_1 .product_list_fr .frame_content .content_list {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.contain_image {
    position: relative;
    padding: 3px;
}
.contain_image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.contain_image a {
    display: block
}

.contain_image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}
.horizontal-scrollable-tabs.preview-tabs-top{
    position: relative;
}
.horizontal-scrollable-tabs.preview-tabs-top .arrow_left{
    position: absolute;
    z-index: 888;
    left: 1px;
    top: -8%;
    font-size: 27px;
    color: #8c8383;
    background: #fff;
    padding-top: 6px;
}
.horizontal-scrollable-tabs.preview-tabs-top .arrow_right{
    position: absolute;
    z-index: 888;
    right: -23px;
    top: -8%;
    font-size: 27px;
    color: #8c8383;
    background: #fff;
    padding-top: 6px;
}
