body.login_admin:before {
    content: " ";
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}
body.login_admin:before {
    background: linear-gradient(136deg, var(--primary-color), var(--secondary-color));
    background-size: 400% 400%;
    -webkit-animation: BgAnimation 10s ease infinite;
    -moz-animation: BgAnimation 10s ease infinite;
    -o-animation: BgAnimation 10s ease infinite;
    animation: BgAnimation s ease infinite;
}
@-webkit-keyframes BgAnimation {
    0%{
       background-position:14% 0%
   }
    50%{
       background-position:87% 100%
   }
    100%{
       background-position:14% 0%
   }
}
@-moz-keyframes BgAnimation {
    0%{
       background-position:14% 0%
   }
    50%{
       background-position:87% 100%
   }
    100%{
       background-position:14% 0%
   }
}
@-o-keyframes BgAnimation {
    0%{
       background-position:14% 0%
   }
    50%{
       background-position:87% 100%
   }
    100%{
       background-position:14% 0%
   }
}
@keyframes BgAnimation {
    0%{
       background-position:14% 0%
   }
    50%{
       background-position:87% 100%
   }
    100%{
       background-position:14% 0%
   }
}
#wrapper {
    min-height: 100%!important;
}
::-webkit-scrollbar {
    width: 10px!important;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)!important;
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;
    background: #eee!important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)!important;
    min-height: 30px!important;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.7)!important;
}
.authentication-form {
    border-radius: 2px;
    border: 1px solid #e4e5e7;
    padding: 20px;
    background: #fff;
    border-radius: 10px!important;
    box-shadow: 0px 0px 21px -9px #000;
}
.btn-info {
    height: 40px;
    color: #fff;
    background-color: var(--primary-color);
    border: 0;
}
.btn-info:hover {
    height: 40px;
    color: #fff;
    background-color: var(--secondary-color);
    border: 0;
}
.login-footer{
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.login-footer a{
    color: #ffffff;
}
