  .row-margin{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .panel-padding{
    padding-right: 0px;
    padding-left: 0px;
  }
  .span-font-style{
  font-style: italic;
  } 
  .button-margin{
    margin-right: 15px;
  }

  .button-pdf-margin-top{
    margin-top: 24px;
  }

  .button-pdf-margin-top{
    margin-top: 24px;
  }