.call-single-col-left {
    padding: 25px;
    background: #fff;
    min-height: 600px;
    border-bottom-left-radius: 6px;
}
.modal-xl {
	width: 90%;
}
.modal-dialog {
	transition: width cubic-bezier(0.15, 0.01, 1, 0.42) 300ms !important;
}
.modal.call-modal {
	z-index: 10024 !important;
}